html, body {
    margin: 0;
    padding: 0;
}

.content {
    width: 100vmin;
    height: 100vmin;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

button {
    padding: 10px;
}

.container {
    background-color: black;
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 1px;
}

.row {
    flex-grow:  1;
    display: flex;
    gap: 1px;
}

.box { 
    background-color: burlywood;
    flex-grow: 1;
}

.marked {
    background-color: black;
}