.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: black;
    width: 90vmin;
    height: 90vmin;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 1px;
}

.row {
    flex-grow:  1;
    display: flex;
    gap: 1px;
}

.box { 
    background-color: burlywood;
    flex-grow: 1;
}

.marked {
    background-color: black;
}